<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  
  <header>
    
    <nav class="ag-navbar">
      <div class="ag-nav-home"><a href="/">Logo</a></div>
      
      <a href="#">Agenda</a>

      <% if(user) { %> 
      <a href="/contato">Cadastrar Contato</a>
      <a href="/login/logout">Sair</a>
      <% } else { %>
      <a href="/login">Entrar</a>
      <% } %>  
    </nav>

    <section class="ag-section">
      <div class="ag-container">
        <h1>Seus Contatos</h1>
      </div>
    </section>
  
  </header>
  
  <div class="ag-container">
    <div class="ag-cards">
      <div class="ag-card-contact">
        <div class="ag-id">1</div>
        <div class="ag-name">Arthur</div>
        <div class="ag-lastname">Leite</div>
        <div class="ag-phone">+55 (11) 1111-2222</div>
        <div class="ag-email">email@email.com</div>
        <div class="ag-icons">
          <span class="material-icons">edit</span>
          <span class="material-icons">delete</span>
        </div>
      </div>
    </div>

    <div class="ag-cards">
      <div class="ag-card-contact">
        <div class="ag-id">1</div>
        <div class="ag-name">Arthur</div>
        <div class="ag-lastname">Leite</div>
        <div class="ag-phone">+55 (11) 1111-2222</div>
        <div class="ag-email">email@email.com</div>
        <div class="ag-icons">
          <span class="material-icons">edit</span>
          <span class="material-icons">delete</span>
        </div>
      </div>
    </div>

    <div class="ag-cards">
      <div class="ag-card-contact">
        <div class="ag-id">1</div>
        <div class="ag-name">Arthur</div>
        <div class="ag-lastname">Leite</div>
        <div class="ag-phone">+55 (11) 1111-2222</div>
        <div class="ag-email">email@email.com</div>
        <div class="ag-icons">
          <span class="material-icons">edit</span>
          <span class="material-icons">delete</span>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>